
p,u,label{
    color: #e0dede;
    
    
}

h2{
    color: #fff;
	font-size: 2em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
}
.main{
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
input{
	background: #e0dede;
	justify-content: center;
	display: flex;
	border: none;
	outline: none;
	border-radius: 5px;
}

label{
	font-size: 20px;
	font-weight: bold;
}


